body{
    /*background-color: rgb(37, 75, 75);*/
    /*background-color: rgb(55, 0, 95);*/
    background-color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    border:5px solid lime;
    
}

nav{
    text-align: left;
    background-color: black;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline;
    margin-right: 10px;
}

nav a{
    text-decoration: none;
}

div {
    line-height: 1.8em;
    border-style: transparent;
    text-align: center;
    /*border: groove green;*/   
    cursor:crosshair;
}

hr{
    border: 1.5px solid lime;
}

h1{
    color: lime;
}

h2{
    color:green;
}

h3{
    color: lime;
    border: solid lime;
    text-align: center;
    border-left-color: black;
    border-right-color: black;
}

p{
    color: silver;
    font-family:  Verdana, Arial, sans-serif;
    
}
img{
    border-radius: 50%;
    border: 5px solid silver;
  
}

a{
    color:lightseagreen;
}

li{
    color: silver;
    font-family:  Verdana, Arial, sans-serif;
    /*cursor:help;*/
}

.about-section{
    text-align: left;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
}

.projects-section{
    text-align: left;
    color: white;
}

.contact-section{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}


/*
ul{
    text-align: left;
    color: white;
}
*/
